#richmedia {
    display:none;
    position : relative;
    margin-bottom : 20px !important;
    max-width : 1254px;
    width : 100%;
}

#richmedia *:focus {
    outline: none;
}

#richmedia-content {
    overflow : hidden;
    position:relative;
    width:100%;
    padding-top : 4%;
}

#richmedia input {
    background-color : transparent;
}

#page-mod-richmedia-playerhtml5-index #gridSlides .x-grid3-header {
    display:none;
}

#richmedia .x-window-plain .x-window-body {
    background-color : #FFF !important;
}

#richmedia #next,
#richmedia #prev,
#richmedia #playbutton,
#richmedia #list,
#richmedia #closed,
#richmedia #srt,
#richmedia #thumbnail,
#richmedia #fullscreen {
    width :28px;
    height :27px;
    margin-top:4px;
    cursor : pointer;
    float : left;
}

.richmedia-icon {
    background-image : url('../pix/richmedia_bt_spritesheet.png') !important;
    background-repeat: no-repeat !important;
    display: block;
    width : 26px !important;
    height : 26px !important;
    box-shadow : none !important;
    padding : 0 !important;
    border: none !important;
}

.richmedia-icon:hover, .richmedia-icon:focus {
    box-shadow : none !important;
    outline : none !important;
}

#richmedia #next {
    margin-right : 14px;
    background-position: -5px -41px;
}

#richmedia #next:hover {
    background-position: -41px -41px;
}

#richmedia #prev {
    margin-right : 5px;
    background-position: -5px -5px;
}

#richmedia #prev:hover {
    background-position: -41px -5px;
}

#richmedia #playbutton {
    margin-right : 5px;
    background-position: -77px -113px;
}

#richmedia #playbutton:hover {
    background-position: -113px -113px;
}

#richmedia.play #playbutton {
    background-position: -5px -113px;
}

#richmedia.play #playbutton:hover {
    background-position: -41px -113px;
}

#richmedia #list {
    float:left;
    margin-left:7px;
    margin-right : 14px;
    display:block;
    background-position: -77px -77px;
}

#richmedia #list:hover {
    background-position: -113px -77px;
}

#richmedia #fullscreen {
    background-position: -77px -41px;
}

#richmedia #fullscreen:hover {
    background-position: -113px -41px;
}

#richmedia #thumbnail {
    background-position: -77px -149px;
}

#richmedia #thumbnail.active,
#richmedia #thumbnail:hover {
    background-position: -113px -149px;
}

#richmedia #controles {
    width: 100%;
    margin:auto;
    height: 48px;
    position:absolute;
    bottom : -48px;
}

#richmedia #controles-icons {
    background: url('../pix/footer.png') repeat-x;
    height : 35px;
}

#richmedia #credit {
    width:18px;
    height:19px;
    margin-right: 4px;
    margin-top:4px;
    border-radius: 0;
    padding: 0;
    float : left;
    background-position: -149px -77px;
}

#richmedia #credit:hover {
    background-position: -149px -113px;
}

#richmedia #credit-div {
    float: right;
}

#richmedia #closed {
    margin-left : 10px;
    background-position: -5px -77px;
}

#richmedia.locked #closed {
    background-position: -5px -149px;
}

#richmedia #closed:hover {
    background-position: -41px -77px;
}

#richmedia.locked #closed:hover {
    background-position: -41px -149px;
}

#richmedia #srt {
    background-position: -149px -5px;
    display : none;
}

#richmedia #srt.active,
#richmedia #srt:hover {
    background-position: -149px -41px;
}

#selectview {
    float : left;
    width : 100px;
    margin-left : 2px;
    margin-top : 7px;
    height : 21px;
    padding : 0;
}

#fullscreen {
    margin-right : 7px;
    margin-left : 10px;
}

#richmedia #closewindow {
    border:none;
    color:#FFF;
    background-color : #000;
    cursor : pointer;
    padding:3px;
}

#richmedia #richmedia-fullcontent {
    margin : auto;
    width:100%;
    position :relative;
    background-size : auto 100%;
    background-repeat : no-repeat;
}

#richmedia-title {
    font-size: 28px;
    right: 2.16%;
    top : 39%;
    font-weight: bold;
    position : absolute;
}

@media (max-width : 480px) {
    #richmedia-title {
        font-size: 14px;
    }
}

#richmedia #subtitles {
    width : 63%;
    float:right;
    margin-right : 2.16%;
    text-align:center;
    margin-top : 0;
    display : none;
}

#subtitles img {
    margin-top : 0;
}

#subtitles .slide-title {
    display : none;
}

#richmedia #subtitles.ui-state-disabled {
    opacity : 1;
}

#richmedia, #loading {
    margin : auto;
    width : 100%;
}

#loading {
    box-shadow : 6px 0 4px  -4px #C6C7C8 , -6px 0 4px  -4px #C6C7C8;
    text-align : center;
}

#loading img {
    margin-top : 300px;
}

#richmedia #left {
    float:left;
    margin-left : 1.6%;
    width : 30%;
}

#richmedia #presentername {
    font-size : 14px;
}

#richmedia #presenterbio {
    font-size : 11px;
    text-align:left;
    background : rgba(255,255,255,0.3);
    line-height: 14px;
    padding : 5px;
    min-height : 120px;
}

#richmedia #text {
    overflow : auto;
    width : 100%;
    max-height : 245px;
    height:100%;
    position : relative;
}

#richmedia #video {
    width : 100%;
    height : auto;
    background : black;
}

#richmedia #right {
    float : right;
    display : inline-block;
    position : relative;
}

#richmedia #head {
    overflow : visible;
    position : relative;
    width : 100%;
    height : 12.6%;
}

#richmedia #id-card {
    display : none;
}

#richmedia button:hover,
#richmedia input[type="button"]:hover,
#richmedia input[type="button"]:focus {
    transition : none !important;
}

#richmedia .x-panel-tbar {
    display : none;
}

#richmedia div[role="main"] {
    background : none;
}

#richmedia .back {
    width : 100%;
}

#richmedia .back a {
    width:100%;
    margin : auto;
    text-align : left;
    display : block;
}

#richmedia .x-window-bl {
    display : none;
}

#richmedia .navbar-fixed-top{
    position : relative;
}

#richmedia .ui-dialog {
    overflow-y : auto;
    overflow-x : hidden;
    z-index : 10000;
    border : 1px solid #ccc;
}

#richmedia .ui-dialog .ui-icon-closethick {
    margin-left : -9px;
    background : none !important;
}

#richmedia .ui-dialog-titlebar {
    border-radius : 0 !important;
    border : none !important;
    height : 30px !important;
    background : #EEE !important;
    padding : 0 !important;
    padding-top : 5px !important;
}

#richmedia .ui-dialog-titlebar .ui-dialog-title {
    font-weight : normal !important;
    margin-left : 15px !important;
    font-size : 1.1em;
}

#richmedia .ui-dialog-titlebar-close {
    display: block !important;
    width : 26px !important;
    height : 26px !important;
    box-shadow : none !important;
    padding : 0 !important;
    background-position: -77px -5px;
    background-image : url('../pix/richmedia_bt_spritesheet.png') !important;
    background-repeat: no-repeat !important;
    background-color : transparent;
    border : none;
    right: 5px;
    top: 14px;
}

#richmedia .ui-dialog-titlebar-close:hover, 
#richmedia .ui-dialog-titlebar-close:focus,
#richmedia .ui-dialog-titlebar-close .ui-button-text:hover,
#richmedia .ui-dialog-titlebar-close .ui-button-text:focus {
    border : none;
    outline : none;
    transition : none;
}

#richmedia .ui-dialog-titlebar-close:hover {
    background-position: -113px -5px;
}

#richmedia .ui-dialog-titlebar-close .ui-button-text {
    border : none !important;
}

#richmedia-summary {
    overflow-y : auto !important;
}

#richmedia-summary table {
    width : 100%;
}

#richmedia-summary table tr {
    background : #F9F9F9;
}

#richmedia-summary table tr:nth-child(2n+1) {
    background : white;
}

#richmedia-summary table tr:hover,
#richmedia-summary table tr:nth-child(2n+1):hover {
    background : #DDD;
    cursor : pointer;
}

#richmedia-summary td.index, #richmedia-summary td.title {
    font-size : 0.9em;
}

#richmedia-summary td.index {
    text-align : right;
    padding-right : 8px;
}

#richmedia-summary td.time {
    font-size : 1em;
}

#richmedia-copyright {
    text-align : center;
}

#page-mod-richmedia-view #progress-bar {
    height : 13px;
    background : #777777;
    position : relative;
}

#page-mod-richmedia-view #progress-bar:hover {
    cursor : pointer;
}

#richmedia .delimiter {
    position: absolute;
    top: 0;
}

.img-preview {
    height : 13px;
    top : 0;
    position : absolute;
    cursor : pointer;
    z-index : 10000;
}

#page-mod-richmedia-view #progress {
    height : 13px;
    background : #CC181E;
    width : 0;
    position : absolute;
    left : 0;
}

#cuePlayer {
    opacity : 1;
}

#richmedia-logo {
    left : 10px;
    top : 8%;
    width : 11%;
    max-width: 20%;
    position : absolute;
}

#richmedia-copyright-logo {
    width : 61px;
    height : 52px;
}

#richmedia-copyright-logo:focus,
#richmedia-copyright-logo:hover {
    outline : none;
}

#page-mod-richmedia-view #symquiz_player {
    display : none;
    text-align : left;
}

#volume-bar {
    float : left;
    width : 70px;
    margin-left : 10px;
    height : 34px;
    padding-top : 0;
    cursor : pointer;
}

#volume-bar::-ms-fill-lower { display : none; }
#volume-bar::-ms-fill-upper { display : none; }
#volume-bar::-ms-thumb { background: grey; }
#volume-bar::-ms-ticks-after { display: none; }
#volume-bar::-ms-ticks-before { display: none; }
#volume-bar::-ms-tooltip { display: none; /* display and visibility only */ }
#volume-bar::-webkit-slider-runnable-track { background : #808080; }
#volume-bar::-webkit-slider-thumb { background : #EDEDED; }

#controles-left {
    float : left;
}

#controles-right {
    float : right;
}

/*******************************************************************************/
.loading-wrapper {
    display : table;
}
.loading {
    margin : 150px auto;
    text-align : center;
    display : block;
    vertical-align: middle;
}

.loading .spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
}

.loading .spinner .container1 > div, .container2 > div, .container3 > div {
    width: 6px;
    height: 6px;
    background-color: #333;

    border-radius: 100%;
    position: absolute;
    -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
    animation: bouncedelay 1.2s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.loading .spinner .spinner-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.loading .spinner .container2 {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.loading .spinner .container3 {
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
}

.loading .spinner .circle1 { top: 0; left: 0; }
.loading .spinner .circle2 { top: 0; right: 0; }
.loading .spinner .circle3 { right: 0; bottom: 0; }
.loading .spinner .circle4 { left: 0; bottom: 0; }

.loading .spinner .container2 .circle1 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.loading .spinner .container3 .circle1 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.loading .spinner .container1 .circle2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.loading .spinner .container2 .circle2 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.loading .spinner .container3 .circle2 {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.loading .spinner .container1 .circle3 {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.loading .spinner .container2 .circle3 {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.loading .spinner .container3 .circle3 {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.loading .spinner .container1 .circle4 {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.loading .spinner .container2 .circle4 {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.loading .spinner .container3 .circle4 {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

#richmedia-content.no-padding {
    padding-top : 0 !important;
}

#richmedia-content-container {
    position : relative;
    overflow : hidden;
}

#richmedia-content-container .srt {
    position: absolute;
    bottom: 20px;
    width: 60%;
    height: 22px;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 1.2em;
    display : none;
    background : rgba(255,255,255,0.8);
}

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0.0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
    0%, 80%, 100% { 
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 40% { 
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

/*******************************************************************************/

@media only screen and (device-width: 768px) {
    #richmedia #selectview {
        top : 2px !important;
    }
}

@media (max-width : 800px){
    #richmedia #richmedia-logo {
        max-width : 160px;
    }
}

